{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "quotes": [
      "warn",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}
